.RegisterModal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 5;
    background-color: #522d0da1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterModalContainer {
    height: 45%;
    width: 40%;
    border-radius: 15px;
    background-color: #F8EFBA;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.RegisterModalTitle {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5vh;
}

.registrationForm {
    height: 86%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.GroupInput {
    height: 25%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RegistrationLabel {
    width: 70%;
    text-align: left;
    font-size: 2.5vh;
    display: flex;
}

.RegistrationInput {
    height: 40%;
    width: 70%;
    border: none;
    border-radius: 7px;
    font-size: 2vh;
    background-color: #ccae62;
}

.RegistrationInput:focus {
    outline-width: 0;
    border: 3px solid #85713f;
    background-color: #ecd088;
}

.NextButtonContainer {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NextButton {
    height: 60%;
    width: 25%;
    border-radius: 10px;
    border: 3px solid #1abc9c;
    background-color: #22eec5;
}

.NextButton:active {
    background-color: #22eec5;
}

.NextButton:hover {
    background-color: #1abc9c;
}

.CancelButton {
    height: 60%;
    width: 25%;
    border-radius: 10px;
    border: 3px solid #e74c3c;
    background-color: #e96d5f;
    margin-right: 15px;
}

.CancelButton:active {
    background-color: #e96d5f;
}

.CancelButton:hover {
    background-color: #e74c3c;
}

.RegistrationErrorBox {
    height: 90%;
    width: 70%;
    background-color: #ff7979;
    color: white;
    font-size: 1.3vh;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.ConfirmationBox {
    height: 40%;
    width: 70%;
    border: none;
    border-radius: 7px;
    font-size: 2vh;
    background-color: #ecd088;
    display: flex;
    align-items: center;
}